* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-image: url('../images/concrete_seamless.png');
    font-family: 'Libre Franklin', sans-serif;
}

body.no-scroll {
    overflow: hidden;
}

article {
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
    padding: 1.25rem;
    box-sizing: border-box;
}

footer {
    text-align: center;
    background: black;
    padding: 1.25rem;
    color: white;
    text-transform: lowercase;
}

a {
    position: relative;
    color: #5f27cd;
    text-decoration: underline;
}

a:hover, a:active {
    color: #f368e0;
}

p {
    margin: 1.25rem 0;
}

li {
    line-height: 1.8em;
}

.about {
    margin-bottom: 3rem;
    text-align: center;
}

h1 {
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.code {
    overflow: auto;
}

hr {
    width: 18.75rem;
}