section {
    background-color: white;
    border: 2px solid black;
    padding: 1.5rem 2rem;
    margin-bottom: 10rem;
}

section > .header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.625rem 0;
}

section > .header > h2 {
    font-size: 2rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    flex-grow: 1;
    text-transform: uppercase;
}

section > .header > .links > a {
    margin-left: 0.25rem;
    margin-right: 0.625rem;
    line-height: 1rem;
    text-transform: lowercase;
}

section > .header > .links > a:last-of-type {
    margin-right: 0;
}

section > .header > .links > i {
    color: black;
    line-height: 1rem;
    vertical-align: middle;
}

section > .info {
    display: flex;
    flex-direction: row;
}

section > .info > div {
    flex-grow: 1;
    width: 50%;
}

section > .info > .description {
    padding-right: 2.5rem;
    text-align: justify;
    line-height: 1.5rem;
    order: 2;
}

section > .info > .image {
    margin-top: 1.25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    max-height: 18.75rem;
    order: 3;
    cursor: pointer;
}

section > .info > .image.left {
    background-position: top left;
}

section > .info > .image.right {
    background-position: top right;
}