section {
    margin-bottom: 150px;
}

section > .header {
    border-bottom: 1px solid #5d5d5d;
    display: flex;
    flex-direction: row;
    padding: 10px 0;
}

section > .header > h2 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    letter-spacing: 2px;
    flex-grow: 1;
    text-transform: uppercase;
}

section > .header > .links > a {
    margin-left: 5px;
    margin-right: 10px;
    line-height: 16px;
    text-transform: lowercase;
}

section > .header > .links > a:last-of-type {
    margin-right: 0;
}

section > .header > .links > i {
    color: #5d5d5d;
    line-height: 16px;
    vertical-align: middle;
}

section > .info {
    display: flex;
    flex-direction: row;
}

section > .info > div {
    flex-grow: 1;
    width: 50%;
}

section > .info > .description {
    padding-right: 20px;
    text-align: justify;
    line-height: 22px;
    order: 2;
}

section > .info > .image {
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height: 300px;
    order: 3;
    cursor: pointer;
}

section > .info > .image.left {
    background-position: left;
}

section > .info > .image.right {
    background-position: right;
}