* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url('src/images/tic-tac-toe.png');
  /* background: radial-gradient(midnightblue, black); */

}

body,
button {
  font-family: 'Source Sans Pro', sans-serif;
}