.bg {
  background: linear-gradient(135deg, deeppink, skyblue, deeppink);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.projects {
  margin-top: 2rem;
  margin-bottom: 6rem;
  display: grid;
  grid-gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 22rem);
}